.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-list .petla {
  flex: 0 0 calc(33.33% - 20px); /* Set a fixed width for each item */
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: inherit;
  padding: 16px;
}

.project-list h4 {
  font-size: 0.9em;
  color: var(--heading-color);
}

.project-list p {
  color: var(--text-color);
  font-size: 0.9em;
}

.project-list .assigned-to ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.project-list .assigned-to li {
  margin-right: 5px;
}

.project-list .photo {
  width: 100%; /* Adjust the width as needed */
  height: auto;
  border-radius: 4px;
}

.project-list .details {
  margin-top: 10px;
}

/* 
.project-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}



  .project-list .petla {
    flex: 1 1 calc(33.33% - 20px); 
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: inherit;
    padding: 16px;
  }



  .project-list h4 {
    font-size: 0.9em;
    color: var(--heading-color);
  }
  .project-list p {
    color: var(--text-color);
    font-size: 0.9em;
  }
  .project-list .assigned-to {
    margin-top: 1px;
    padding-top: 1px;
    border-top: 1px solid #eee;
  }
  .project-list ul {
    
    margin: 10px 0;
    display: flex;
  }
  .project-list li {
    margin-right: 10px;
  }
  .project-list .avatar {
    width: 30px;
    height: 30px;
  }

  .project-list .photo {
    width: 200px;
  }

   */